*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    text-decoration: none;
}

.navabar{
    height: 70px;
    background-color: #087641;
    color: white;
    display: flex;
    padding-left: 10px;
    align-items: center;
    gap: 1%;
}
.logo{
    background-image: url(logo.png);
    background-size:contain;
    width: 100px;
    height: 30px;
    margin: 8px;
}
.nav-logo{
    width: 113px;
    height: 40px;
}
.border{
    border: 1.5px solid transparent;
    border-radius: 5px;
}

.border:hover{
    border: 1.5px solid white;
    border-radius: 5px;
}
.nav_address{
    width: 90px;
    height: 40px;
}

.location{
    display: flex;
}
/* delivery to */
#de{
    position: relative;
    left: 20px;
    font-size: small;
    color: #cccccc;
}

.nav-search{
    display: flex;
    width: 45%;
    height: 40px;
    text-align: center;
}
.nav-search:hover{
    border: 2px solid rgb(159, 49, 152);
}
#all{
    width: 52px;
    height: 40px;
    color: #0f1111;
    background-color: #f0eded;
    font-size: small;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#all:hover{
    background-color: #c8c8c8;
}
.search-icon{
    width: 45px;
    height: 41px;
    display: flex;
    background-color: rgb(200, 8, 136);
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.4rem;
}
.search-icon:hover{
    background-color: rgb(135, 59, 110);
}
#search-logo{
    width: 90%;
    height: 39px;
    font-size: 1rem;
    border: none;
}

.nav-signin{
    height: 40px;
    padding-left: 3px;
    padding-right: 3px;
}
.sign{
    font-size: 0.7rem;
}
.account{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-return{
    height: 40px;
    padding-left: 3px;
    padding-right: 3px;
}

.cart-logo{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* for panel */

.panel{
    height: 50px;
    background-color: #14603c;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
}

.panel-content p{
    display: inline-block;
    margin-left: 15px;
    padding: 10px 10px 10px 10px;
    font-size: 1.1rem;
}

.menu-logo{
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
    font-size: 1.5rem;
}
.hero-section{
    background-image: url(background.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    height: 50px;
    background-color: white;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 0.85rem;
    width: 98%;
    margin-bottom: 25px;
}
#click:hover{
    color: #007185;
}


/* box section */
.box{
    width: 23.5%;
    height: 500px;
    /* border: 2px solid black; */
    background-color: white;
    padding: 30px 0px 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e43f3f;
}
.box1-img{
    height: 400px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.box-content{
    margin: 10px 15px 10px 15px;
}
.box-content p{
    color: #007185;
}

/* footer panel1*/
.foot-panel1{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot1-panel{
    height: 160px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;;
}
.see{
    position: relative;
    top: 20px;
}
.option{
    position: relative;
    top: 30px;
    width: 300px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 50px;
    background-color: rgb(244, 244, 38);
}
.option:hover{
    background-color: rgb(240, 184, 29);
}
.new{
    position: relative;
    top: 40px;
}

.foot-panel2{
    background-color: #37475a;
    color: white;
    height: 70px;
    text-align: center;
    align-content: center;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 80px;
}

ul a{
    display: block;
    color: #dddddd;
    font-size: 0.85rem;
    margin-top: 20px;
}
.foot-panel4{
    background-color: #222f3d;
    color: #dddddd;
    border-top: 0.1px solid #dddddd;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo1{
    background-image: url(logo.png);
    background-size:contain;
    width: 100px;
    height: 30px;
}
.foot-panel5{
    background-color: #061515;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 30px;
    padding-left: 10px;
}
.pages a{
    color: white;
}
.last{
    padding-top: 10px;
}